In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Fix Headers") \
    .master("local[2]") \
    .getOrCreate()

spark

23/09/24 00:59:41 WARN Utils: Your hostname, Amandeeps-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.114 instead (on interface en0)
23/09/24 00:59:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/24 00:59:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
from pyspark.sql import DataFrame

def fix_header(df: DataFrame) -> list:
    fixed_col_list: list = []
    for col in df.columns:
        fixed_col_list.append(f"`{str(col).strip()}` as {str(col).strip().replace(' ','_').lower()}")
        
    return fixed_col_list

In [13]:
raw_df = spark.read.format("csv").option("header", True).load("/Users/amandeepsinghjohar/Code/JupterLab/data/student.csv")
raw_df.printSchema()
raw_df.show()
fixed_headers = fix_header(df = raw_df)
print(fixed_headers)
# Apply to create the new dataframe
fixed_df = raw_df.selectExpr(fixed_headers)
fixed_df.printSchema()
fixed_df.show()

root
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Dept Name: string (nullable = true)
 |-- Dept ID: string (nullable = true)
 |-- Salary: string (nullable = true)

+----------+----------+---------+-------+------+
|First Name| Last Name|Dept Name|Dept ID|Salary|
+----------+----------+---------+-------+------+
|      Amit|     Kumar|  Physics|    PHY| 30000|
|     Anwar|    Ansari|Chemistry|   CHEM| 30000|
|      Rita|      null|    Maths|   MATH| 39000|
|    Deepak|Chaturvedi|  Biology|    BIO| 30000|
+----------+----------+---------+-------+------+

['`First Name` as first_name', '`Last Name` as last_name', '`Dept Name` as dept_name', '`Dept ID` as dept_id', '`Salary` as salary']
root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dept_name: string (nullable = true)
 |-- dept_id: string (nullable = true)
 |-- salary: string (nullable = true)

+----------+----------+---------+-------+------+
|first_name| last_name|dept_name|dept_id|salary|
+----------+----------+---------+-------+------+
|      Amit|     Kumar|  Physics|    PHY| 30000|
|     Anwar|    Ansari|Chemistry|   CHEM| 30000|
|      Rita|      null|    Maths|   MATH| 39000|
|    Deepak|Chaturvedi|  Biology|    BIO| 30000|
+----------+----------+---------+-------+------+